<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--全局属性-->
    <settings>
        <!-- 获得数据自增主键值 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 使用列别表替换列名 -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 开启驼峰转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>